* {
    box-sizing: border-box; /* tells the browser to ignore borders while calculating the width */
}

body {
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 7px #000;
}

header,footer {
    height: 100px;
    background: #5e517d;
    border: 3px solid #a38dd6;
    clear: both;  /* says "look to the left and right, if theres anything floating, come after it" */
}

section {
    font-size: 12px
}

.three-col {
    height: 300px;
    width: 33.3333%;
    background: #917ec0;
    border: 3px solid #a38dd6; /* because of this 33.3333% wont work properly because the border adds to the content size for the box model and the last section element will break to a new line */
    float: left;
}

.two-col {
    height: 300px;
    width: 50%;
    background: #7b6aa1;
    border: 3px solid #a38dd6;
    float: left;
}